.toursList {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(26rem, 63rem));
    gap: 6rem;
    justify-content: center;
    padding: 2rem;
}

.tourslist-loading {
    text-align: center;
}
