.tour {
    box-shadow: 0px 4px 15px 7px rgba(0, 0, 0, 0.18);
    border-radius: 1rem 1rem 0 0;
    overflow: hidden;
    background-color: white;
}

.tour-image-container {
    width: 100%;
    height: 30rem;
}

.tour-image {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.tour-details {
    padding: 3rem 3rem 2rem 3rem;
}

.tour-title-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.tour-title-main {
    font-weight: 500;
    font-size: 1.7rem;
}

.tour-price {
    color: blue;
    font-size: 1.5rem;
    padding: 0.4rem 0.9rem;
    background-color: rgba(0, 162, 255, 0.192);
    border-radius: 0.8rem;
    /* overflow: hidden; */
    align-self: center;
}

.tour-paragraph {
    font-size: 1.6rem;
    line-height: 1.4;
    color: #555;
}

.tour-toggle-paragraph-button {
    color: rgba(0, 162, 255, 1);
    background-color: inherit;
    font-size: inherit;
    outline: none;
    border: none;
    cursor: pointer;
}

.tour-button {
    font-size: 1.2rem;
    color: crimson;
    border: none;
    border: 1px solid crimson;
    padding: 0.8rem 2.1rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    background-color: white;
    display: block;
    margin: 2rem auto 0 auto;
    transition: all 0.3s;
    outline: none;
}

.tour-button:hover {
    background-color: crimson;
    color: white;
}
